/* Styles for the Project */

body {
    font-family: "Funnel Display", sans-serif;
    background: #f3f4f6;
    padding: 40px;
    margin: 0px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    max-width: 700px;
    margin: auto;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

fieldset {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    font-size: 1.1em;
    padding: 0 10px;
}

label {
    display: block;
    margin: 12px 0 5px;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.inline-labels label {
    display: inline-block;
    margin-right: 20px;
}

.form-buttons {
    text-align: center;
    margin-top: 20px;
}

input[type="submit"],
input[type="reset"] {
    color: #FFF;
    border: none;
    padding: 12px 24px;
    margin: 0 10px;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
}

input[type="reset"] {
    background-color: #888;
}

input[type="submit"] {
    background-color: #b04f4f;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    opacity: 0.6;
}
